@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* علشان يكون كل حاجة ضمن الأب ميطلعش عنو  */
    scroll-behavior: smooth;
}


  
  .background {
    display: flex;
    min-height: 100vh;
    background: #2b2b2b;
    border-top:2px solid #FF7F50;
  }
  
  .container {
    flex: 0 1 700px;
    margin: auto;
    padding: 10px;
  }
  
  .screen {
    position: relative;
    background: #FF7F50;
    border-radius: 15px;
    box-shadow: 0 5px 20px #FF7F50;
  }
  
  .screen:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 0;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
    z-index: -1;
  }
  
  .screen-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: #4d4d4f;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  .screen-header-left {
    margin-right: auto;
  }
  
  .screen-header-button {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 3px;
    border-radius: 8px;
    background: white;
  }
  
  .screen-header-button.close {
    background: #2b2b2b;
  }
  
  .screen-header-button.maximize {
    background: #e8e925;
  }
  
  .screen-header-button.minimize {
    background: #74c54f;
  }
  
  .screen-header-right {
    display: flex;
  }
  
  .screen-header-ellipsis {
    width: 3px;
    height: 3px;
    margin-left: 2px;
    border-radius: 8px;
    background: #999;
  }
  
  .screen-body {
    display: flex;
  }
  
  .screen-body-item {
    flex: 1;
    padding: 50px;
  }
  
  .screen-body-item.left {
    display: flex;
    flex-direction: column;
  }
  
  .app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #2b2b2b;
    font-size: 26px;
    font-weight: 700;
  }
  
  .app-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 25px;
    height: 4px;
    background: #ea1d6f;
  }
  
  .app-contact {
    margin-top: auto;
    font-size: 8px;
    color: #ffffff;
  }
  
  .app-form-group {
    margin-bottom: 15px;
  }
  
  .app-form-group.message {
    margin-top: 40px;
  }
  
  .app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
  }
  
  .app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: #ddd;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
  }
  
  .app-form-control::placeholder {
    color: #666;
    font-weight: 600;
  }
  
  .app-form-control:focus {
    border-bottom-color: #ddd;
    border-width: 2px;
  }
  
  .app-form-button {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
    outline: none;
    font-weight: 500;
  }
  
  .app-form-button:hover {
    color: #2b2b2b;
  }
  
  .credits {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: #FF7F50;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: normal;
  }
  
  .credits-link {
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
  }
  
  .dribbble {
    width: 20px;
    height: 20px;
    margin: 0 5px;
  }
  
  @media screen and (max-width: 1023px) {
    .screen {
        margin: 50px;
    }

    .screen-body {
      flex-direction: column;
    }
  
    .screen-body-item.left {
      margin-bottom: 30px;
    }
  
    .app-title {
      flex-direction: row;
    }
  
    .app-title span {
      margin-right: 12px;
    }
  
    .app-title:after {
      display: none;
    }
  }
  
  @media screen and (max-width: 600px) {
    .screen-body {
      padding: 40px;
    }
  
    .screen-body-item {
      padding: 0;
    }
  }
  

section{
    padding: 65px 100px;
}

header{
    background: #2b2b2b;
    height: 50px;
    width: 100%;
    z-index: 999;
    /* علشان يكون فوق كل حاجة */
    display: flex;
    position: fixed;
    /* علشان ينزل معايا فى كل مكان */
    align-items: center;
    justify-content: space-between;
    padding: 30px 200px;
}

.logo{
    text-decoration: none;
    color: #FF7F50;
    font-size: 1.8em;
    /* 1.8 من حجم الأب */
    text-transform: uppercase;
    font-weight: 700;

}
 
nav a{
    color: #FF7F50;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    font-size: 1.1em;
    padding-left: 20px;
    transition: .5s;
}

nav a:hover{
    color: #fff;
}

nav a:active{
    color: rgb(255, 0, 140);
}

.home{
    padding: 100px 200px;
}

.home{
    width: 100%;
    min-height: 100vh;
    background: url(omar/background.jpg);
    background-size: cover;
    align-items: center;
    display: flex;
    align-items: center;
    /* علشان الاشياء تكون فى نص الصفحة من حيث الارتفاع */
}

.home h2{
    color: #fff;
    font-size: 1.5em ;
}

.home h2 span{
    display: inline-block;
    color: #FF7F50;
    font-size: 2em;
}

.home h3{
    color:#fff;
    letter-spacing: 2px;
}

.home .button a{
    background: #FF7F50;
    color: #fff;
    padding: .9357em 2.1857em;
    font-size: 20px;
    text-decoration: none;
    border: 1px solid #FF7F50;
    display: inline-block;
    /* دا مهم جدا علشان a دا عنصر inline */
    border-radius: 20px;
    font-weight: 500;
    transition: .5s;
}

.button{
    margin: 40px 0 40px 0;
}

.home .button a:hover{
    color: #FF7F50;
    background: #fff;
    transform: scale(1.1);
    /* علشان لما نعمل عليه يكبر وخلى بالك عملنا transform مش width علشان عايزين نكبر المحتوى برضوا */
}

.social-icons{
    display: flex;
    gap: 10px;

}

.social-icons a{
    width: 50px;
    height: 50px;
    padding: 10px;
    font-size: 20px;
    color: #FF7F50;
    background: #fff;
    border: 2px solid #FF7F50;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    transition: .5s;
}

.social-icons a:hover{
    color: #fff;
    background: #FF7F50;
    border: 2px solid #FF7F50;
    border-radius: 50%;
    transform: scale(1.1);
}

.cards{
    background: #2b2b2b;
    border-top: 2px solid #FF7F50;
}

.title{
    display: flex;
    justify-content: center;
    /* علشان نوسطن الكلمة فى النص افقيا  */
    color: #FF7F50;
    font-size: 2.2em ; 
    /* = 32px + .2em */
    font-weight: 800;
    margin-bottom: 30px;
    
}

.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card{
    background: #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(255, 94, 1, 0.445);
    border-radius: 10px;
    padding: 25px ;
    margin: 15px;
    transition: .5s;
}

.card:hover{
    transform: scale(1.1);
}

.icon{
    color: #FF7F50;
    font-size: 6em;
    text-align: center;
}

.info{
    text-align: center;
}

.info h3{
    color: #FF7F50;
    padding-bottom: 10px;
    font-weight: 700;
}

.projects{
    background: #2b2b2b;
    border-top: #FF7F50 2px solid;
}

.projects .content{
    margin-top: 30px;
}

.project-card{
    background: #fff;
    border: 1px solid #FF7F50;
    overflow: hidden;
    min-height: 14em;
    width: 23em;
    border-radius: 10px;
    margin: 20px;
    transition: .7s ease;
}

.project-img img {
    width: 100%;
    transition: 1s;
}

.project-card:hover{
    transform: scale(1.1);
}

.project-card:hover .project-img{
    opacity: .8;
}

.project-info{
    padding: 10px;
}

.project-category{
    font-size: .9em;
    color: #ff7f50;
    font-weight: 500;
}

.project-title{
    display: flex ;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 10px;
}

.more-details{
    text-decoration: none;
    transition: .5s;
    font-weight: 700;
}

.more-details:hover{
    color: #3a18ff;
}

.projects{
    padding: 65px 50px;
}

footer{
    background: #2b2b2b;
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

.footer-title{
    color: #fff;
    font-size: 1.3em;
    font-weight: 700;
}


.footer-title span{
    color: #FF7F50;
}

@media (max-width:1023px){
  header{
      padding: 12px 20px;

  }

  .logo{
    display: block;
    width: 100px; /* أو أي عرض محدد */
    margin: 0 auto;
  }


  .header a{
    display: none;
  }

  .title{
    font-size: 1.8em;
  }

  section{
      padding: 80px 20px;
  }

  .home{
    padding: 80px 20px;
  }

  .home h2{
      font-size: 1em;
  }

  .home h3{
      font-size: 1.6em;
  }

  .content{
      flex-direction: column;
      align-items: center;
  }


}

@media (max-width:641px){
  body{
      font-size: 12px;
  }

  .home h2{
      font-size: 0.8em;
  }

  .home h3{
      font-size: 1.4em;
  }
}

@media (max-width:300px){
  body{
      font-size: 10px;
   
  }
}


